<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Coding Challenge</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class="container">
      <h1>This is the Graphical Interface of challenge</h1>
      <h3>The client can do the following:</h3>
      <ul>
        <li>Make a GET request to /people <button type="button" name="button"><a href="/people">Click here to access /people</a></button></li>
        <li>Make a POST request to /people</li>
        <li>Initial person object have the following attributes: id, name : “Sean”, favoriteCity : “New York”</li>
        <li>Make a GET request to retrieve the object created in the previous request</li>
        <li>Make a PUT request to /people and modify the attribute city to be “Brooklyn”</li>
        <li>Make a GET request to /people/1</li>
        <li>Make a DELETE request to /people/1</li>
        <li>Make a GET request to /people</li>
      </ul>
    </div>
  </body>
</html>
