<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        <%= data[0].title %>
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="center">
        <p>
            <h3>Name: <%= data[0].name %></h3>
            <h3>Favorite City: <%= data[0].city %></h3>
        </p>

    <button type="button" name="button"><a href="/people">Return to People</a></button>

    </div>
</body>

</html>
